section#screen2
    .container
        .our-work
            .our-work-title Как мы работаем
            .our-work-information
                .information-text
                    .our-work-item
                        .number.orange 01
                        .text-block
                            h2.our-work-item-title ЗНАКОМСТВО ДРУГ С ДРУГОМ
                            p.our-work-item-p Мы получаем от вас заполненный бриф и после встречаемся, либо организовываем конференц-колл. Изучаем специфику деятельности вашей компании и цели, которые вы хотите достигнуть.
                    .our-work-item 
                        .number.pink 02
                        .text-block
                            h2.our-work-item-title ФОРМИРОВАНИЕ ПРЕДЛОЖЕНИЯ
                            p.our-work-item-p В срок до 2 недель разрабатываем стратегию продвижения и формируем предложение с четкими KPIs и сроками. Проводим презентацию очно или онлайн, обсуждаем детали и при необходимости корректируем.
                    .our-work-item
                        .number.violet 03
                        .text-block
                            h2.our-work-item-title ПОДПИСАНИЕ ДОГОВОРА
                            p.our-work-item-p Все утвержденные KPIs и сроки работ прописываются в контракте и после получения предоплаты мы начинаем работу .
                    .our-work-item
                        .number.lavalender 04
                        .text-block
                            h2.our-work-item-title РАБОТА ПО ПРОЕКТУ
                            p.our-work-item-p Команда агентства работает над проектом, а аккаунт-менеджер всегда с вами на связи. Он обсуждает и контролирует все текущие вопросы, передает информацию от вас команде и наоборот и является ответственным за исполнение всех договоренностей.
                    .our-work-item
                        .number.indigo 05
                        .text-block
                            h2.our-work-item-title ПРЕДОСТАВЛЕНИЕ ОТЧЕТНОСТИ
                            p.our-work-item-p Каждый месяц мы присылаем подробный понятный отчет, в котором вы видите результаты работы.
                .information-img
                    img(src="img/screen-2/screen-2-right-img.png", alt="")
        .our-advantages
            .our-advantages-title наши преимущества
            .our-advantages-information
                .advantages-item-block
                    .left-img
                        img(src="img/screen-2/screen-2-adv1-img.png", alt="")
                    .right-text 
                        .advantages-item-title Ваше преимущество
                        .advantages-item-p Vel tellus placerat est posuere cras pellentesque blandit facicgtur.
                .advantages-item-block
                    .left-img
                        img(src="img/screen-2/screen-2-adv2-img.png", alt="")
                    .right-text 
                        .advantages-item-title Ваше преимущество
                        .advantages-item-p Vel tellus placerat est posuere cras pellentesque blandit facicgtur.
                .advantages-item-block
                    .left-img
                        img(src="img/screen-2/screen-2-adv3-img.png", alt="")
                    .right-text 
                        .advantages-item-title Ваше преимущество
                        .advantages-item-p Vel tellus placerat est posuere cras pellentesque blandit facicgtur.
                .advantages-item-block
                    .left-img
                        img(src="img/screen-2/screen-2-adv4-img.png", alt="")
                    .right-text 
                        .advantages-item-title Ваше преимущество
                        .advantages-item-p Vel tellus placerat est posuere cras pellentesque blandit facicgtur.
                .advantages-item-block
                    .left-img
                        img(src="img/screen-2/screen-2-adv5-img.png", alt="")
                    .right-text 
                        .advantages-item-title Ваше преимущество
                        .advantages-item-p Vel tellus placerat est posuere cras pellentesque blandit facicgtur.
                .advantages-item-block
                    .left-img
                        img(src="img/screen-2/screen-2-adv6-img.png", alt="")
                    .right-text 
                        .advantages-item-title Ваше преимущество
                        .advantages-item-p Vel tellus placerat est posuere cras pellentesque blandit facicgtur.
        .our-statistics
            .our-statistics-title Статистика компании в цифрах
            .our-statistics-p Постоянный количественный рост и сфера нашей активности обеспечивает актуальность новых принципов формирования материально-технической и кадровой базы. А ещё представители современных социальных резервов объективно рассмотрены соответствующими инстанциями.
            .our-statistics-information
                .our-statistics-item
                    .our-statistics-amount.indigo-color 65
                    .our-statistics-description Lorem ipsum dolor sit amet, consectetur
                .our-statistics-item
                    .our-statistics-amount.maroon 47
                    .our-statistics-description Lorem ipsum dolor sit amet, consectetur
                .our-statistics-item
                    .our-statistics-amount.salmon 130
                    .our-statistics-description Lorem ipsum dolor sit amet, consectetur
                .our-statistics-item
                    .our-statistics-amount.khaki 50
                    .our-statistics-description Lorem ipsum dolor sit amet, consectetur
                .our-statistics-item
                    .our-statistics-amount.pink-color 78
                    .our-statistics-description Lorem ipsum dolor sit amet, consectetur