#screen3{
    .cases{
        // modals
        .modal-dialog{
            max-width: 1300px;
            .modal-content{
                padding-left: 110px;
            }
            .swiper-button-prev,.swiper-button-next{
                color:#E72F75;
            }
            .modal-header{
                // position
                padding-left: 0;
                border-bottom: none;
                .modal-title{
                    // position
                    padding-top: 75px;
                    max-width: 640px;
                    padding-left: 0;
                    .top-title{
                        // fonts
                        font-family: "Muller";
                        font-style: normal;
                        font-weight: 800;
                        font-size: 24px;
                        line-height: 128.5%;
                        text-transform: uppercase;
                        color: #000000;
                    }
                    .bottom-title{
                        // fonts
                        font-family: "Muller";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px !important;
                        line-height: 150%;
                        color: #555555;
                    }
                    &::before{
                        content: '';
                        display: block;
                        width: 13px;
                        height: 90px;
                        left: 77px;
                        position: absolute;
                        background: #E72F75;
                        max-height: 11%;
                    }
                }
            }
            .modal-footer{
                border-top: none;
                // position
                padding-left: 0;
                justify-content: flex-start;
                padding-bottom: 150px;
            }
            .modal-body{
                .top-body{
                    display: flex;
                    flex-direction: row;
                    // gallery
                    .gallery{
                        width: 500px;
                        height: 285px;
                        img{
                            width: 500px;
                            height: auto;
                        }
                    }
                    // goals
                    .goals{
                        max-width: 640px;
                        padding-left: 20px;
                        .goals-title{
                            padding-left: 31px;
                            margin-bottom: 13px;
                            // fonts
                            font-family: "Muller";
                            font-style: normal;
                            font-weight: 800;
                            font-size: 16px;
                            line-height: 128.5%;
                            color: #171717;
                        }
                        ul{
                            list-style-type: none;
                            // fonts
                            font-family: "Muller";
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 128.5%;
                            color: #171717;
                            li{
                                margin-bottom: 25px;
                                &::before{
                                    content: url("../img/screen-3/li-before.png");
                                    padding-right: 20px;
                                }
                            }
                        }
                    }

                }
                .rest-body{
                    padding-top: 31px;
                    &-title{
                        // fonts
                        font-family: "Muller";
                        font-style: normal;
                        font-weight: 800;
                        font-size: 20px;
                        line-height: 128.5%;
                        color: #000000;
                    }
                    p{
                        min-width: 1080px;
                        // fonts
                        font-family: "Muller";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 128.5%;
                        color: #171717;
                    }
                    .result-block{
                        .rest-body-title{
                            margin-bottom: 26px;
                        }
                        margin-bottom: 30px;
                    }
                    .produce-block{
                        .rest-body-title{
                            margin-bottom: 26px;
                        }
                        margin-bottom: 30px;
                    }
                    .goals-block{
                        max-width: 640px;
                        .rest-body-title{
                            margin-bottom: 26px;
                        }
                        margin-bottom: 30px;
                        ul{
                            list-style-type: none;
                            // fonts
                            font-family: "Muller";
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 128.5%;
                            color: #171717;
                            li{
                                margin-bottom: 25px;
                                &::before{
                                    content: url("../img/screen-3/li-before.png");
                                    padding-right: 20px;
                                }
                            }
                        }
                    }
                }
                // position
                padding-left: 0;
                p{
                    // fonts
                    font-family: "Muller";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 128.5%;
                    color: #171717;
                    max-width: 640px;
                }
            }
        }
    }
    .services{
        // modals
        .modal-dialog{
            max-width: 860px;
            .modal-content{
                padding-left: 110px;
            }
            .modal-header{
                // position
                padding-left: 0;
                border-bottom: none;
                .modal-title{
                    // position
                    padding-top: 75px;
                    max-width: 640px;
                    padding-left: 0;
                    .top-title{
                        // fonts
                        font-family: "Muller";
                        font-style: normal;
                        font-weight: 800;
                        font-size: 24px;
                        line-height: 128.5%;
                        text-transform: uppercase;
                        color: #000000;
                    }
                    .bottom-title{
                        // fonts
                        font-family: "Muller";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px !important;
                        line-height: 150%;
                        color: #555555;
                    }
                    &::before{
                        content: '';
                        display: block;
                        width: 13px;
                        height: 90px;
                        left: 77px;
                        position: absolute;
                        background: #E72F75;
                        max-height: 11%;
                    }
                }
            }
            .modal-footer{
                border-top: none;
                // position
                padding-left: 0;
                justify-content: flex-start;
                padding-bottom: 150px;
            }
            .modal-body{
                // position
                padding-left: 0;
                p{
                    // fonts
                    font-family: "Muller";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 128.5%;
                    color: #171717;
                    max-width: 640px;
                }
            }
        }
    }
    .reviews{
        // modals
        .modal-dialog{
            max-width: 860px;
            .modal-content{
                padding-left: 110px;
                &::after{
                    position: absolute;
                    bottom: 0;
                    right: 56px;
                    content: "”";
                    // fonts
                    font-family: "Muller";
                    font-style: normal;
                    font-weight: 800;
                    font-size: 70px;
                    line-height: 128.5%;
                    text-transform: uppercase;
                    color: #000000;
                }
                &::before{
                    position: absolute;
                    top: 44px;
                    left: 54px;
                    content: "“";
                    // fonts
                    font-family: "Muller";
                    font-style: normal;
                    font-weight: 800;
                    font-size: 70px;
                    line-height: 128.5%;
                    text-transform: uppercase;
                    color: #000000;
                }
            }
            .modal-header{
                // position
                padding-left: 0;
                border-bottom: none;
                .modal-title{
                    // position
                    padding-top: 75px;
                    max-width: 640px;
                    padding-left: 0;
                    .information-block-position{
                        // display
                        display: inline-block;
                        // fonts
                        font-family: "Muller";
                        font-style: normal;
                        font-weight: 800;
                        font-size: 24px;
                        line-height: 128.5%;
                        text-transform: uppercase;
                        color: #5F5DDA;
                        // Генеральный директор
                    } 
                    .information-block-company{
                        // display
                        display: inline-block;
                        // fonts
                        font-family: "Muller";
                        font-style: normal;
                        font-weight: 800;
                        font-size: 24px;
                        line-height: 128.5%;
                        text-transform: uppercase;
                        color: #5F5DDA;
                        // Название компании
                    } 
                    .information-block-name{
                        // dipslay
                        display: block;
                        // fonts
                        font-family: "Muller";
                        font-style: normal;
                        font-weight: 800;
                        font-size: 24px;
                        line-height: 128.5%;
                        text-transform: uppercase;
                        color: #000000;
                        // Дмитрий Рагозин
                    }
                }
            }
            .modal-body{
                // position
                padding-left: 0;
                padding-bottom: 81px;
                p{
                    // fonts
                    font-family: "Muller";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 128.5%;
                    color: #171717;
                    max-width: 640px;
                }
            }
        }
    }
    .our-cases{
        margin-top: 67px;
        margin-bottom: 83px;
        .our-cases-title{
            margin-bottom: 39px;
            // fonts
            font-family: "Muller";
            font-style: normal;
            font-weight: 800;
            font-size: 35px;
            line-height: 128.5%;
            text-transform: uppercase;
            color: #555555;
        }
        .cases-group-name{
            margin-bottom: 42px;
            // Класс отвечающий за слайд слайдера первого
            .swiper-slide{
                height: 124px !important;
                align-items: center;
                justify-content: center;
                display: flex;
            }
        }
        .cases-content{
            .cases-content-title{
                // display
                display: inline-block;
                // indent
                margin-top: 80px;
                // dimentions
                max-width: 299px;
                // link
                text-decoration: none;
                // fonts
                font-family: "Muller";
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 20px;
                text-transform: uppercase;
                color: #171717;
            }
            .call-small{
                margin-top: 36px;
            }
            // классы отвечающие за слайдер
            .swiper-scrollbar{
                background-color: #171717;
                width: 100%;
                left: 0;
                height: 4px;
                // top: 112px;
                top: 454px;
            }
            .swiper-scrollbar-drag{
                background-image: url("../img/screen-3/scrollbar-drag.png");
                width: 42px !important;
                height: 16px;
                top: -6px;
                border-radius: 0px;
            }
            .swiper-container{
                padding-bottom: 12px;
            }
            .swiper-slide{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

        }
    }
    .our-services{
        margin-bottom: 94px;
        .our-services-title{
            margin-bottom: 41px;
            // fonts
            font-family: "Muller";
            font-style: normal;
            font-weight: 800;
            font-size: 35px;
            line-height: 128.5%;
            text-transform: uppercase;
            color: #555555;
        }
        table{
            width: 100%;
            a{
                text-decoration: none;
                font-family: "Muller";
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                /* identical to box height, or 24px */


                color: #EC4DAD;
            }
            thead{
                background-color: #555555;
                padding-left: 90px;
                // fonts
                font-family: "Muller";
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 150%;
                color: #FFFFFF;
            }
            tbody{
                background-color: #F2F2F2;
                // fonts
                font-family: "Muller";
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                /* identical to box height, or 24px */


                color: #555555;
            }
            tr{
                td{
                    &:first-child{
                        padding-left: 48px;
                    }
                }
            }
            td{
                padding-top: 11px;
                padding-bottom: 10px;
                align:left;
            }
        }
    }
    .our-reviews{
        // display
        position: relative;
        .left-back-img{
            position: absolute;
            left: -311px;
            top: 132px;
        }
        .our-reviews-title{
            font-family: "Muller";
            font-style: normal;
            font-weight: 800;
            font-size: 35px;
            line-height: 128.5%;
            text-transform: uppercase;
            color: #555555;
            // position
            margin-bottom: 51px;
            margin-left: 34%;

        }
        //customising swiper js class
        .information-block{
            display: flex;
            flex-direction: column;
        }
        .elem{
            // dimentions
            max-width: 420px;
            // display
            display: flex;
            flex-direction: row;
            // position
            margin-bottom: 28px;
        }
        .left-img{
            // posiyion
            margin-right: 18px;
            // dimensions
            max-width: 82px;
            min-width: 82px;
            img{
                width: 82px;
                height: 82px;
                // position
                margin-top: -9px;
            }
        }
        .right-information{
            // display
            display: flex;
            flex-direction: column;
            .information-block-name{
                // fonts   
                font-family: "Muller";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
                color: #8B8B8B;
            }
            .information-block-position{
                // fonts
                font-family: "Muller";
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color:#5F5DDA;
            }
            .information-block-company{
                // fonts
                font-family: "Muller";
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color:#5F5DDA;
            }
            .review-preview{
                // position
                margin-top: 20px;
                // dimentions
                max-width: 320px;
                // fonts
                font-family: "Muller";
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 128.5%;
                color: #171717;
            }
            .details{
                // position
                margin-top: 17px;
                // fonts
                text-decoration: none;
                font-family: "Muller";
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 128.5%;
                color: #EC4DAD;
            }
        }
        //классы для слайдера
        .swiper-button-disabled{
            display: none;
        }
        .swiper-container{
            width: 870px;
            margin-left: 0;
            margin-right: 0;
            margin-left: 34%;
            padding-bottom: 51px;
        }
        .swiper-button-next{
            // position
            top: 687.9px;
            left: 709px;
            // fonts
            font-family: "Muller";
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 128.5%;
            text-align: right;
            color: #171717;
            // dimentions
            width: 150px;
            &::after{
                // display: none;
                content: url("../img/screen-3/right-arrow.png");
                padding-left: 11px;
                // left-arrow.png
            }
        }
        .swiper-button-prev{
            // position
            top: 687.9px;
            // fonts
            font-family: "Muller";
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 128.5%;
            text-align: right;
            color: #171717;
            // dimentions
            width: 150px;
            &::after{
                display: none;
            }
            &::before{
                content: url("../img/screen-3/left-arrow.png");
                padding-right: 11px;
            }
        }
    }
}
  