section#screen3
    //- модальные окна начало
    //- cases
    .cases
        .modal.fade(id="cases" tabindex="-1" role="dialog" aria-labelledby="casesLabel" aria-hidden="true")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        .modal-title(id="casesLabel") 
                            .top-title PR - СОПРОВОЖДЕНИЕ ОТКРЫТИЯ SATOSHI WINE BISTRO
                            .bottom-title ПОЛНОЕ СОПРОВОЖДЕНИЕ ПРОЕКТА:
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    .modal-body
                        .top-body
                            .gallery
                                .swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="img/screen-3/gallery-img.png", alt="")
                                        .swiper-slide
                                            img(src="img/screen-3/cases-content1.jpg", alt="")
                                        .swiper-slide
                                            img(src="img/screen-3/cases-content2.jpg", alt="")
                                    .swiper-button-prev
                                    .swiper-button-next
                            .goals
                                .goals-title ЦЕЛИ ПРОЕКТА
                                ul
                                    li Создание аккаунтов в соцсетях, ведение соцсетей (Facebook и Instagram).
                                    li Создание пула релевантных СМИ.
                                    li Размещение заведения на картах и профильных площадках, подключение сервисов бронирования.
                                    li Выпуск пресс-релиза об открытии.
                                    li Организация индивидуальных дегустаций для СМИ и блогеров.
                                    li Обеспечение выхода публикаций.
                        .rest-body
                            .result-block
                                .rest-body-title Результат
                                p Выход 31 публикаций в СМИ и блогах, среди которых РБК Стиль, Афиша Рестораны и Афиша Daily, The Village, TimeOut, BURO 24/7, размещение ресторана на 18 профильных площадках и картах, проведение 3 фотосессий, создание пула из 25 релевантных СМИ, прирост подписчиков более 100 человек с нуля в инстаграм за месяц. Результатом проведения PR-кампании стало осведомление целевой аудитории об открытии ресторана и приток реальных гостей в заведение.
                            .produce-block
                                .rest-body-title ЧТО МЫ ДЕЛАЕМ
                                p Выход 31 публикаций в СМИ и блогах, среди которых РБК Стиль, Афиша Рестораны и Афиша Daily, The Village, TimeOut, BURO 24/7, размещение ресторана на 18 профильных площадках и картах, проведение 3 фотосессий, создание пула из 25 релевантных СМИ, прирост подписчиков более 100 человек с нуля в инстаграм за месяц. Результатом проведения PR-кампании стало осведомление целевой аудитории об открытии ресторана и приток реальных гостей в заведение.
                            .goals-block
                                .rest-body-title ЦЕЛИ ПРОЕКТА
                                ul
                                    li Создание аккаунтов в соцсетях, ведение соцсетей (Facebook и Instagram).
                                    li Создание пула релевантных СМИ.
                                    li Размещение заведения на картах и профильных площадках, подключение сервисов бронирования.
                    .modal-footer
                        button.call-big(type="button") Хочу также!
        //- cases1
        .modal.fade(id="cases1" tabindex="-1" role="dialog" aria-labelledby="cases1Label" aria-hidden="true")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        .modal-title(id="cases1Label") 
                            .top-title OSTERIA UNO
                            .bottom-title ПОЛНОЕ СОПРОВОЖДЕНИЕ ПРОЕКТА:
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    .modal-body
                        .top-body
                            .gallery
                                .swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="img/screen-3/gallery-img.png", alt="")
                                        .swiper-slide
                                            img(src="img/screen-3/cases-content1.jpg", alt="")
                                        .swiper-slide
                                            img(src="img/screen-3/cases-content2.jpg", alt="")
                                    .swiper-button-prev
                                    .swiper-button-next
                            .goals
                                .goals-title ЦЕЛИ ПРОЕКТА
                                ul
                                    li Создание аккаунтов в соцсетях, ведение соцсетей (Facebook и Instagram).
                                    li Создание пула релевантных СМИ.
                                    li Размещение заведения на картах и профильных площадках, подключение сервисов бронирования.
                                    li Выпуск пресс-релиза об открытии.
                                    li Организация индивидуальных дегустаций для СМИ и блогеров.
                                    li Обеспечение выхода публикаций.
                        .rest-body
                            .result-block
                                .rest-body-title Результат
                                p Выход 31 публикаций в СМИ и блогах, среди которых РБК Стиль, Афиша Рестораны и Афиша Daily, The Village, TimeOut, BURO 24/7, размещение ресторана на 18 профильных площадках и картах, проведение 3 фотосессий, создание пула из 25 релевантных СМИ, прирост подписчиков более 100 человек с нуля в инстаграм за месяц. Результатом проведения PR-кампании стало осведомление целевой аудитории об открытии ресторана и приток реальных гостей в заведение.
                            .produce-block
                                .rest-body-title ЧТО МЫ ДЕЛАЕМ
                                p Выход 31 публикаций в СМИ и блогах, среди которых РБК Стиль, Афиша Рестораны и Афиша Daily, The Village, TimeOut, BURO 24/7, размещение ресторана на 18 профильных площадках и картах, проведение 3 фотосессий, создание пула из 25 релевантных СМИ, прирост подписчиков более 100 человек с нуля в инстаграм за месяц. Результатом проведения PR-кампании стало осведомление целевой аудитории об открытии ресторана и приток реальных гостей в заведение.
                            .goals-block
                                .rest-body-title ЦЕЛИ ПРОЕКТА
                                ul
                                    li Создание аккаунтов в соцсетях, ведение соцсетей (Facebook и Instagram).
                                    li Создание пула релевантных СМИ.
                                    li Размещение заведения на картах и профильных площадках, подключение сервисов бронирования.
                    .modal-footer
                        button.call-big(type="button") Хочу также!
    //- services
    .services
        .modal.fade(id="services" tabindex="-1" role="dialog" aria-labelledby="servicesLabel" aria-hidden="true")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        .modal-title(id="servicesLabel") 
                            .top-title Организация бизнес, культурных и спортивных мероприятий
                            .bottom-title от 90 тыс. руб. в месяц
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    .modal-body
                        p В рамках спецификации современных стандартов, тщательные исследования конкурентов, инициированные исключительно синтетически, превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Предварительные выводы неутешительны: экономическая повестка сегодняшнего дня предопределяет высокую востребованность стандартных подходов. В своём стремлении повысить качество жизни, они забывают, что понимание сути ресурсосберегающих технологий предопределяет высокую востребованность системы обучения кадров, соответствующей насущным потребностям. Разнообразный и богатый опыт говорит нам, что курс на социально-ориентированный национальный проект говорит о возможностях вывода текущих активов.
                    .modal-footer
                        button.call-big(type="button") оставить заявку
        //- services1
        .modal.fade(id="services1" tabindex="-1" role="dialog" aria-labelledby="services1Label" aria-hidden="true")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        .modal-title(id="services1Label") 
                            .top-title Проведение форумов, конференций и экспертных мероприятий
                            .bottom-title от 150 тыс. руб. в месяц
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    .modal-body
                        p В рамках спецификации современных стандартов, тщательные исследования конкурентов, инициированные исключительно синтетически, превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Предварительные выводы неутешительны: экономическая повестка сегодняшнего дня предопределяет высокую востребованность стандартных подходов. В своём стремлении повысить качество жизни, они забывают, что понимание сути ресурсосберегающих технологий предопределяет высокую востребованность системы обучения кадров, соответствующей насущным потребностям. Разнообразный и богатый опыт говорит нам, что курс на социально-ориентированный национальный проект говорит о возможностях вывода текущих активов.
                    .modal-footer
                        button.call-big(type="button") оставить заявку
        //- services2
        .modal.fade(id="services2" tabindex="-1" role="dialog" aria-labelledby="services2Label" aria-hidden="true")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        .modal-title(id="services2Label") 
                            .top-title Разработка партнерских пакетов и поиск информационных партнеров
                            .bottom-title от 180 тыс. руб. в месяц
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    .modal-body
                        p В рамках спецификации современных стандартов, тщательные исследования конкурентов, инициированные исключительно синтетически, превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Предварительные выводы неутешительны: экономическая повестка сегодняшнего дня предопределяет высокую востребованность стандартных подходов. В своём стремлении повысить качество жизни, они забывают, что понимание сути ресурсосберегающих технологий предопределяет высокую востребованность системы обучения кадров, соответствующей насущным потребностям. Разнообразный и богатый опыт говорит нам, что курс на социально-ориентированный национальный проект говорит о возможностях вывода текущих активов.
                    .modal-footer
                        button.call-big(type="button") оставить заявку
    //- reviews
    .reviews
        .modal.fade(id="reviews" tabindex="-1" role="dialog" aria-labelledby="reviewsLabel" aria-hidden="true")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        .modal-title(id="reviewsLabel") 
                            .information-block-position Генеральный директор
                            .information-block-company Название компании
                            .information-block-name Дмитрий Рагозин
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    .modal-body
                        p Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным сопровождением деятельности ИК «CRESCO Finance». Команду агентства всегда отличала компетентность, профессионализм, ответственность и творческий подход к работе.
    //- модальные окна конец
    .container
        .our-cases
            .our-cases-title Наши кейсы
            .cases-group-name
                //- Slider groups 
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            img(src="img/screen-3/cases-group-name1.png", alt="")
                        .swiper-slide
                            img(src="img/screen-3/cases-group-name2.png", alt="")
                        .swiper-slide
                            img(src="img/screen-3/cases-group-name3.png", alt="")
                        .swiper-slide
                            img(src="img/screen-3/cases-group-name4.png", alt="")
                        .swiper-slide
                            img(src="img/screen-3/cases-group-name5.png", alt="")
                        .swiper-slide
                            img(src="img/screen-3/cases-group-name6.png", alt="")
                        .swiper-slide
                            img(src="img/screen-3/cases-group-name7.png", alt="")
            .cases-content
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            a(href="#cases" type="button" data-toggle="modal") 
                                img(src="img/screen-3/cases-content1.jpg", alt="")
                            a(href="#cases" type="button" data-toggle="modal").cases-content-title PR, SMM И EVENT ДЛЯ СЕТИ ВИННЫХ БАРОВ BRIX
                            button.call-small(type="button" data-toggle="modal" data-target="#cases") Читать подробнее
                        .swiper-slide
                            a(href="#cases1" type="button" data-toggle="modal") 
                                img(src="img/screen-3/cases-content2.png", alt="")
                            a(href="#cases1" type="button" data-toggle="modal").cases-content-title OSTERIA UNO
                            button.call-small(type="button" data-toggle="modal" data-target="#cases1") Читать подробнее
                        .swiper-slide
                            a(href="#cases" type="button" data-toggle="modal") 
                                img(src="img/screen-3/cases-content1.jpg", alt="")
                            a(href="#cases" type="button" data-toggle="modal").cases-content-title PR, SMM И EVENT ДЛЯ СЕТИ ВИННЫХ БАРОВ BRIX
                            button.call-small(type="button" data-toggle="modal" data-target="#cases") Читать подробнее
                        .swiper-slide
                            a(href="#cases1" type="button" data-toggle="modal") 
                                img(src="img/screen-3/cases-content2.png", alt="")
                            a(href="#cases1" type="button" data-toggle="modal").cases-content-title OSTERIA UNO
                            button.call-small(type="button" data-toggle="modal" data-target="#cases1") Читать подробнее
                        .swiper-slide
                            a(href="#cases" type="button" data-toggle="modal") 
                                img(src="img/screen-3/cases-content1.jpg", alt="")
                            a(href="#cases" type="button" data-toggle="modal").cases-content-title PR, SMM И EVENT ДЛЯ СЕТИ ВИННЫХ БАРОВ BRIX
                            button.call-small(type="button" data-toggle="modal" data-target="#cases") Читать подробнее
                        .swiper-slide
                            a(href="#cases1" type="button" data-toggle="modal") 
                                img(src="img/screen-3/cases-content2.png", alt="")
                            a(href="#cases1" type="button" data-toggle="modal").cases-content-title OSTERIA UNO
                            button.call-small(type="button" data-toggle="modal" data-target="#cases1") Читать подробнее
                        .swiper-slide
                            a(href="#cases" type="button" data-toggle="modal") 
                                img(src="img/screen-3/cases-content1.jpg", alt="")
                            a(href="#cases" type="button" data-toggle="modal").cases-content-title PR, SMM И EVENT ДЛЯ СЕТИ ВИННЫХ БАРОВ BRIX
                            button.call-small(type="button" data-toggle="modal" data-target="#cases") Читать подробнее
                    .swiper-scrollbar
        .our-services
            .our-services-title Стоимость услуг
            table
                thead
                    tr
                        td Услуга
                        td Цена услуги
                        td Описание
                tbody
                    tr 
                        td Организация бизнес, культурных и спортивных мероприятий
                        td от 90 тыс. руб. в месяц
                        td 
                            a(href="#services" type="button" data-toggle="modal") Подробнее...
                    tr 
                        td Проведение форумов, конференций и экспертных мероприятий
                        td от 150 тыс. руб. в месяц
                        td 
                            a(href="#services1" type="button" data-toggle="modal") Подробнее...
                    tr 
                        td Разработка партнерских пакетов и поиск информационных партнеров
                        td от 180 тыс. руб. в месяц
                        td 
                            a(href="#services2" type="button" data-toggle="modal") Подробнее...
        .our-reviews
            img(src="./img/screen-3/reviews-left-back.png", alt="").left-back-img
            .our-reviews-title Отзывы
            .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .information-block
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="#reviews" type="button" data-toggle="modal").details Читать полностью
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="#reviews" type="button" data-toggle="modal").details Читать полностью 
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="#reviews" type="button" data-toggle="modal").details Читать полностью 
                        .swiper-slide
                            .information-block
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="#reviews" type="button" data-toggle="modal").details Читать полностью 
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="#reviews" type="button" data-toggle="modal").details Читать полностью 
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="#reviews" type="button" data-toggle="modal").details Читать полностью 
                        .swiper-slide
                            .information-block
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="#reviews" type="button" data-toggle="modal").details Читать полностью 
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="#reviews" type="button" data-toggle="modal").details Читать полностью 
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="#reviews" type="button" data-toggle="modal").details Читать полностью 
                        .swiper-slide
                            .information-block
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="#reviews" type="button" data-toggle="modal").details Читать полностью 
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="#reviews" type="button" data-toggle="modal").details Читать полностью 
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="#reviews" type="button" data-toggle="modal").details Читать полностью 
                    .swiper-button-prev предыдущие отзывы
                    .swiper-button-next еще отзывы
                                                        