section#screen3
    .container
        .our-cases
            .our-cases-title Наши кейсы
            .cases-group-name
                //- Slider groups 
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            img(src="img/screen-3/cases-group-name1.png", alt="")
                        .swiper-slide
                            img(src="img/screen-3/cases-group-name2.png", alt="")
                        .swiper-slide
                            img(src="img/screen-3/cases-group-name3.png", alt="")
                        .swiper-slide
                            img(src="img/screen-3/cases-group-name4.png", alt="")
                        .swiper-slide
                            img(src="img/screen-3/cases-group-name5.png", alt="")
                        .swiper-slide
                            img(src="img/screen-3/cases-group-name6.png", alt="")
                        .swiper-slide
                            img(src="img/screen-3/cases-group-name7.png", alt="")
            .cases-content
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            a(href="") 
                                img(src="img/screen-3/cases-content1.jpg", alt="")
                            a(href="").cases-content-title PR, SMM И EVENT ДЛЯ СЕТИ ВИННЫХ БАРОВ BRIX
                            button.call-small Читать подробнее
                        .swiper-slide
                            a(href="") 
                                img(src="img/screen-3/cases-content2.png", alt="")
                            a(href="").cases-content-title OSTERIA UNO
                            button.call-small Читать подробнее
                        .swiper-slide
                            a(href="") 
                                img(src="img/screen-3/cases-content1.jpg", alt="")
                            a(href="").cases-content-title PR, SMM И EVENT ДЛЯ СЕТИ ВИННЫХ БАРОВ BRIX
                            button.call-small Читать подробнее
                        .swiper-slide
                            a(href="") 
                                img(src="img/screen-3/cases-content2.png", alt="")
                            a(href="").cases-content-title OSTERIA UNO
                            button.call-small Читать подробнее
                        .swiper-slide
                            a(href="") 
                                img(src="img/screen-3/cases-content1.jpg", alt="")
                            a(href="").cases-content-title PR, SMM И EVENT ДЛЯ СЕТИ ВИННЫХ БАРОВ BRIX
                            button.call-small Читать подробнее
                        .swiper-slide
                            a(href="") 
                                img(src="img/screen-3/cases-content2.png", alt="")
                            a(href="").cases-content-title OSTERIA UNO
                            button.call-small Читать подробнее
                        .swiper-slide
                            a(href="") 
                                img(src="img/screen-3/cases-content1.jpg", alt="")
                            a(href="").cases-content-title PR, SMM И EVENT ДЛЯ СЕТИ ВИННЫХ БАРОВ BRIX
                            button.call-small Читать подробнее
                    .swiper-scrollbar
        .our-services
            .our-services-title Стоимость услуг
            table
                thead
                    tr
                        td Услуга
                        td Цена услуги
                        td Описание
                tbody
                    tr 
                        td Организация бизнес, культурных и спортивных мероприятий
                        td от 90 тыс. руб. в месяц
                        td 
                            a(href="") Подробнее...
                    tr 
                        td Проведение форумов, конференций и экспертных мероприятий
                        td от 150 тыс. руб. в месяц
                        td 
                            a(href="") Подробнее...
                    tr 
                        td Разработка партнерских пакетов и поиск информационных партнеров
                        td от 180 тыс. руб. в месяц
                        td 
                            a(href="") Подробнее...
        .our-reviews
            img(src="./img/screen-3/reviews-left-back.png", alt="").left-back-img
            .our-reviews-title Отзывы
            .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .information-block
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="").details Читать полностью 
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="").details Читать полностью 
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="").details Читать полностью 
                        .swiper-slide
                            .information-block
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="").details Читать полностью 
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="").details Читать полностью 
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="").details Читать полностью 
                        .swiper-slide
                            .information-block
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="").details Читать полностью 
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="").details Читать полностью 
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="").details Читать полностью 
                        .swiper-slide
                            .information-block
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="").details Читать полностью 
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="").details Читать полностью 
                                .elem
                                    .left-img
                                        img(src="img/screen-3/reviews.png", alt="")
                                    .right-information
                                        .information-block-name Дмитрий Рагозин
                                        .information-block-position Генеральный директор
                                        .information-block-company Название компании
                                        p.review-preview Благодарим коллектив Freedom PR за многолетнюю совместную работу над информационным...
                                        a(href="").details Читать полностью 
                    .swiper-button-prev предыдущие отзывы
                    .swiper-button-next еще отзывы
                                                        