// url
$img: '../img/';

// colors
$darkGray: #2F2F2F;


// fonts
$mainFont: 'UniNeue', 'Arial', 'Helvetica', sans-serif;
$secondFont: 'UniNeueBook', 'Arial', 'Helvetica', sans-serif;

// shadows
$header-shadow: 0px 4px 15px rgba(129, 151, 231, 0.15);

// gradients
$btn-gradient: linear-gradient(269.17deg, #F9B44D 3.28%, #FF5A00 99.29%);

// sizes
$containerWidthPC: 1580px;
$containerWidthMobile: 1200px;
