section#screen4
    .container
        .title-questions Вопросы и ответы
        .accordion-block
            .accordion-button Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa diam pretium laoreet sit. At porttitor tincidunt?
            .accordion-panel Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis sem pharetra id volutpat senectus nunc pharetra, tellus risus. Integer etiam eu ipsum magna tellus, pellentesque dictumst ut urna. Mauris vel, pellentesque ut fringilla. Mollis sed pretium sodales metus. Duis purus maecenas consectetur dui ac tortor odio hac id.
            .accordion-button Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa diam pretium laoreet sit. At porttitor tincidunt?
            .accordion-panel Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis sem pharetra id volutpat senectus nunc pharetra, tellus risus. Integer etiam eu ipsum magna tellus, pellentesque dictumst ut urna. Mauris vel, pellentesque ut fringilla. Mollis sed pretium sodales metus. Duis purus maecenas consectetur dui ac tortor odio hac id.
            .accordion-button Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa diam pretium laoreet sit. At porttitor tincidunt?
            .accordion-panel Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis sem pharetra id volutpat senectus nunc pharetra, tellus risus. Integer etiam eu ipsum magna tellus, pellentesque dictumst ut urna. Mauris vel, pellentesque ut fringilla. Mollis sed pretium sodales metus. Duis purus maecenas consectetur dui ac tortor odio hac id.
            .accordion-button Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa diam pretium laoreet sit. At porttitor tincidunt?
            .accordion-panel Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis sem pharetra id volutpat senectus nunc pharetra, tellus risus. Integer etiam eu ipsum magna tellus, pellentesque dictumst ut urna. Mauris vel, pellentesque ut fringilla. Mollis sed pretium sodales metus. Duis purus maecenas consectetur dui ac tortor odio hac id.
            