//- главная
extends ../layout.pug

block head-info
	+title('Index page')
	+desc('Index page description')

block content-main
	include ../blocks/screen-1/screen-1.pug
	include ../blocks/screen-2/screen-2.pug
	include ../blocks/screen-3/screen-3.pug
	