section#screen1
    .container
        .left-side
            .information-text
                .information-text-title
                    span.first-line название
                    span.second-line услуги 
                        span.another-color по продвижению
                .information-text-description Постоянный количественный рост и сфера нашей активности обеспечивает актуальность новых принципов формирования материально-технической и кадровой базы.
            button.call-big обсудить проект
        .right-side
            .information-img
                img(src="img/screen-1/screen-1-text-img.png", alt="")