section#screen5
    .container
        img(src="./img/screen-5/right-back.png", alt="").right-back
        .request-title оставьте заявку
        form(action="")
            fieldset
                p
                    input(type="text" name="name" placeholder="Ваше имя*").style
                p
                    input(type="tel" name="tel" placeholder="Номер телефона*").style
                p
                    input(type="email" id="email" placeholder="Рабочий e-mail*").style
            p
                input(type="submit" value="Отправить").call-big
            .politics
                p Нажав кнопку “Отправить” вы даете согласие на обработку
                p Ваших 
                    a(href="") персональных данных
        .seo-text
            .seo-text-title SEO Текст
            .seo-text-p Постоянный количественный рост и сфера нашей активности обеспечивает актуальность новых принципов формирования материально-технической и кадровой базы. А ещё представители современных социальных резервов объективно рассмотрены соответствующими инстанциями. Банальные, но неопровержимые выводы, а также независимые государства, инициированные исключительно синтетически, призваны к ответу. В своём стремлении повысить качество жизни, они забывают, что экономическая повестка сегодняшнего дня говорит о возможностях поэтапного и последовательного развития общества. Кстати, интерактивные прототипы и по сей день остаются уделом либералов, которые жаждут быть в равной степени предоставлены сами себе.
            .open-full Подробнее ...
            .seo-text-p-hidden Постоянный количественный рост и сфера нашей активности обеспечивает актуальность новых принципов формирования материально-технической и кадровой базы. А ещё представители современных социальных резервов объективно рассмотрены соответствующими инстанциями. Банальные, но неопровержимые выводы, а также независимые государства, инициированные исключительно синтетически, призваны к ответу. В своём стремлении повысить качество жизни, они забывают, что экономическая повестка сегодняшнего дня говорит о возможностях поэтапного и последовательного развития общества. Кстати, интерактивные прототипы и по сей день остаются уделом либералов, которые жаждут быть в равной степени предоставлены сами себе.